<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GAQL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror-5.45.0/codemirror.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror-5.45.0/addon/hint/show-hint.css') }}">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <h1>Google Ads Query Language Executor</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="//developers.google.com/google-ads/api/docs/query/interactive-gaql-builder">Google Ads Query Builder</a>
        </li>
      </ul>
    </nav>
    <section>
      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning" role="alert">
        {{ message }}
      </div>
      {% endfor %}
      <form method="post" id="query-form">
        <div class="form-group">
          <label for="customer-id">Customer id</label>
          <input class="form-control" name="customer-id" id="customer-id" required value="{{ customer_id }}">
        </div>
        <div class="form-group">
          <label for="query">Query</label>
          <textarea class="form-control" name="query" id="query" rows="12">{{ query }}</textarea>
        </div>
        <input id="page" name="page" class="btn btn-primary" type="hidden" value="1">
        <input class="btn btn-primary" type="submit" value="Execute">
      </form>
    </section>
    {% if table is defined %}
    <section class="output">
      <h2>Output</h2>
      {% if pagination.visible %}
      <nav>
        <ul class="pagination">
          <li class="page-item{% if not pagination.has_previous %} disabled{% endif %}">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {% for page in pagination.pages %}
          <li class="page-item{% if page == pagination.page %} active{% endif %}">
            <a class="page-link" href="#">{{ page }}
              {% if page == pagination.page %}
              <span class="sr-only">Current</span>
              {% endif %}
            </a></li>
          {% endfor %}
          <li class="page-item{% if not pagination.has_next %} disabled{% endif %}">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
      {% endif %}
      {{ table|safe }}
    </section>{% endif %}
    <script src="//code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='codemirror-5.45.0/codemirror.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror-5.45.0/addon/edit/matchbrackets.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror-5.45.0/mode/sql/sql.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror-5.45.0/addon/hint/sql-hint.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>