body {
    padding: 2em;
}

#customer-id {
    max-width: 200px;
}

#query {
    max-width: 700px;
}

.output {
    margin-top: 1em;
}

.CodeMirror {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}